// #contact {
//   padding: 100px 0;
//   background: #000;
//   .contact {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     text-align: center;
//     color: white;
//     h1 {
//       display: flex;
//       align-items: center;
//       gap: 10px;
//       margin-bottom: 30px;
//       span {
//         color: #d6ef0e;
//         margin-top: -5px;
//       }
//     }
//     p {
//       font-size: 15px;
//       font-weight: 400;
//       line-height: 23px;
//     }
//     &--form {
//       padding-top: 50px;
//       width: 350px;
//       button {
//         font-size: 20px;
//         width: 380px;
//         padding: 10px 0;
//         background: transparent;
//         color: #d6ef0e;
//         border: 2px solid #d6ef0e;
//         font-weight: 700;
//         border-radius: 10px;
//         transition: 0.5s;
//         &:hover {
//           background-color: #d6ef0e;
//           color: #000;
//         }
//       }
//       &__item {
//         text-align: left;
//         width: 100%;
//         margin-bottom: 30px;
//         h5 {
//           color: #d6ef0e;
//           margin-bottom: 8px;
//           font-weight: 400;
//         }
//         input {
//           font-size: 16px;
//           padding: 10px 15px;
//           width: 100%;
//           border-radius: 10px;
//           outline: none;
//           border: none;
//           background: #1e1d1d;
//           color: white;
//         }
//         textarea {
//           font-size: 16px;
//           padding: 10px 15px;
//           width: 100%;
//           border-radius: 5px;
//           outline: none;
//           border: none;
//           background: #1e1d1d;
//           color: white;
//         }
//       }
//     }
//   }
// }

// @media (max-width: 768px) {
//   .contact {
//     h1 {
//       font-size: 24px;
//     }

//     p {
//       font-size: 14px;
//     }

//     &--form {
//       max-width: 300px;

//       button {
//         font-size: 18px;
//         max-width: 300px;
//       }
//     }
//   }
// }

// // Адаптация для мобильных устройств (ширина 480px и меньше)
// @media (max-width: 480px) {
//   .contact {
//     h1 {
//       font-size: 20px;
//     }

//     p {
//       font-size: 13px;
//     }

//     &--form {
//       max-width: 100%;
//       padding-top: 30px;

//       button {
//         font-size: 16px;
//         max-width: 100%;
//         padding: 8px 0;
//       }

//       &__item {
//         margin-bottom: 20px;

//         input,
//         textarea {
//           font-size: 14px;
//           padding: 8px 12px;
//         }
//       }
//     }
//   }
// }

#contact {
  padding: 100px 0;
  background: #000;
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;

    h1 {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 30px;
      span {
        color: #d6ef0e;
        margin-top: -5px;
      }
    }

    p {
      font-size: 15px;
      font-weight: 400;
      line-height: 23px;
    }

    &--form {
      padding-top: 50px;
      width: 100%;
      max-width: 350px;

      button {
        font-size: 20px;
        width: 100%;
        max-width: 380px;
        padding: 10px 0;
        background: transparent;
        color: #d6ef0e;
        border: 2px solid #d6ef0e;
        font-weight: 700;
        border-radius: 10px;
        transition: 0.5s;

        &:hover {
          background-color: #d6ef0e;
          color: #000;
        }
      }

      &__item {
        text-align: left;
        width: 100%;
        margin-bottom: 30px;

        h5 {
          color: #d6ef0e;
          margin-bottom: 8px;
          font-weight: 400;
        }

        input,
        textarea {
          font-size: 16px;
          padding: 10px 15px;
          width: 100%;
          border-radius: 10px;
          outline: none;
          border: none;
          background: #1e1d1d;
          color: white;
        }

        textarea {
          border-radius: 5px;
        }
      }
    }
  }

  // Адаптация для планшетов (ширина 768px и меньше)
  @media (max-width: 768px) {
    .contact {
      h1 {
        font-size: 24px;
      }

      p {
        font-size: 14px;
      }

      &--form {
        max-width: 300px;

        button {
          font-size: 18px;
          max-width: 300px;
        }
      }
    }
  }

  // Адаптация для мобильных устройств (ширина 480px и меньше)
  @media (max-width: 480px) {
    padding: 50px 0;

    .contact {
      h1 {
        font-size: 20px;
      }

      p {
        font-size: 11px;
      }

      &--form {
        max-width: 100%;
        padding-top: 30px;

        button {
          font-size: 16px;
          max-width: 100%;
          padding: 8px 0;
        }

        &__item {
          margin-bottom: 20px;

          input,
          textarea {
            font-size: 14px;
            padding: 8px 12px;
          }
        }
      }
    }
  }
}
