#footer {
  padding: 20px 0;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(4px);
  .footer {
    h3 {
      color: white;
      font-weight: 300;
      font-size: 15px;
      text-align: center;
    }
  }
}
