#hero {
  margin-top: 140px;
  min-height: 65vh;
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--about {
      color: white;
      h3 {
        font-size: 20px;
        font-weight: 300;
        color: #d6ef0e;
      }
      h1 {
        font-size: 55px;
        font-weight: 500;
        margin: 0 0 20px 0;
      }
      p {
        font-size: 17px;
        font-weight: 400;
        margin-top: 30px;
        line-height: 25px;
        span {
          color: #d6ef0e;
          font-weight: 600;
        }
      }
    }
  }
  .links {
    position: fixed;
    bottom: 0;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    a {
      color: #ffff;
      font-size: 25px;
      transition: 0.8s;
      &:hover {
        color: #d6ef0e;
      }
    }
    &--line {
      width: 1px;
      height: 100px;
      background: white;
    }
  }
}
