#hero {
  margin-top: 140px;
  min-height: 65vh;
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--about {
      color: white;
      h3 {
        font-size: 20px;
        font-weight: 300;
        color: #d6ef0e;
      }
      h1 {
        font-size: 55px;
        font-weight: 500;
        margin: 0 0 20px 0;
      }
      h2 {
        font-size: 30px;
        font-weight: 400;
      }
      p {
        font-size: 17px;
        font-weight: 400;
        margin-top: 30px;
        line-height: 25px;
        span {
          color: #d6ef0e;
          font-weight: 600;
        }
      }
    }
  }
  .links {
    z-index: 99;
    position: fixed;
    bottom: 0;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    a {
      color: #ffff;
      font-size: 25px;
      transition: 0.8s;
      &:hover {
        color: #d6ef0e;
      }
    }
    &--line {
      width: 1px;
      height: 100px;
      background: white;
    }
  }

  // @media (max-width: 900px) {
  //   .container {
  //     width: 90%;
  //   }
  //   #hero {
  //     .hero {
  //       &--about {
  //         h1 {
  //           font-size: 40px;
  //         }
  //       }
  //     }
  //   }
  // }

  // @media (max-width: 700px) {
  //   #hero {
  //     margin-top: 100px;
  //     .hero--about {
  //       h1 {
  //         font-size: 30px;
  //         margin: 0px 0 10px 0;
  //       }
  //       h3 {
  //         font-size: 15px;
  //       }
  //       h2 {
  //         font-size: 20px;
  //         font-weight: 400;
  //       }
  //       p {
  //         font-size: 15px;
  //         margin-top: 20px;
  //         line-height: 20px;
  //       }
  //     }
  //   }
  // }

  @media (max-width: 768px) {
    margin-top: 100px;

    .hero {
      flex-direction: column;
      align-items: center;
      text-align: center;

      &--about {
        h1 {
          font-size: 40px;
        }

        h2 {
          font-size: 24px;
        }

        p {
          font-size: 15px;
          margin-top: 20px;
        }
      }
    }

    .links {
      left: 10px;
      a {
        font-size: 20px;
      }

      &--line {
        height: 80px;
      }
    }
  }

  // Адаптация для мобильных устройств (ширина 480px и меньше)
  @media (max-width: 480px) {
    margin-top: 80px;
    min-height: 60vh;

    .hero {
      flex-direction: column;
      align-items: center;
      text-align: center;

      &--about {
        h1 {
          font-size: 30px;
        }

        h2 {
          font-size: 20px;
        }

        p {
          font-size: 12px;
          margin-top: 15px;
          line-height: 20px;
        }
      }
    }

    .links {
      left: 5px;

      a {
        font-size: 18px;
      }

      &--line {
        height: 60px;
      }
    }
  }
}
