@import "./styles/Header.scss";
@import "./styles/Hero.scss";
@import "./styles/AboutMe.scss";
@import "./styles/Footer.scss";
@import "./styles/Contact.scss";
* {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  font-family: "IBM Plex Mono", monospace;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 3px solid #d6ef0e;
}
.container {
  width: 70%;
  margin: 0 auto;
}
.main {
  width: 90%;
  margin: 0 auto;
}
#particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}
